<section class="vh-100 bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="bg-light text-white" style="border-radius: 1rem;">
                        <div class="card-body text-center">



                            <div class="container-fluid">

                                <!-- 404 Error Text -->
                                <div class="text-center">
                                    <div class="errorFor404 mx-auto" data-text="404">404</div>
                                    <p class="lead text-gray-800 mb-5">Page Not Found</p>
                                    {{!-- <p class="text-gray-500 mb-0">It looks like you found a glitch in the
                                        matrix...</p> --}}
                                    <a href="/">&larr; Back to Home</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>