{{#if hasErrors}}

<section class="vh-100 bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-7 text-center">

                            <div class="mb-md-3 mt-md-2 pb-2">

                                <h2 class="fw-bold mb-2 text-uppercase">{{error}}</h2>

                            </div>

                            <div>
                                <p class="mb-0">
                                    <a class="btn btn-outline-light btn-lg px-5" href="products" type="button">Check
                                        the
                                        Products</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{{/if}}