<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <label for="bg-video">

  </label>
  <video autoplay muted loop id="bg-video">
    <source src="/public/images/gym-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption">
      <h1>work <em>
          harder</em> get<em>stronger</em></h1>
      <h2>easy with our <em>gym</em></h2>
      <div class="main-button scroll-to-section">
        <a href="#features">Become a member</a>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->



<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cta-content">
          <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
          <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies
            ligula, sit amet dapibus odio augue eget libero. Morbi tempus mauris
            a nisi luctus imperdiet.</p>
          <div class="main-button scroll-to-section">
            <a href="#our-classes">Become a member</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Call to Action End ***** -->

<!-- ***** Our Classes Start ***** -->
<section class="section" id="our-classes">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Our <em>Classes</em></h2>
          <img src="/public/images/line-dec.png" alt="" />
          <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed
            viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
        </div>
      </div>
    </div>
    <div class="row" id="tabs">
      <div class="col-lg-4">
        <ul>
          <li><a href="#tabs-1"><img src="/public/images/tabs-first-icon.png" alt="" />First Training Class</a></li>
          <li><a href="#tabs-2"><img src="/public/images/tabs-first-icon.png" alt="" />Second Training Class</a></li>
          <li><a href="#tabs-3"><img src="/public/images/tabs-first-icon.png" alt="" />Third Training Class</a></li>
          <li><a href="#tabs-4"><img src="/public/images/tabs-first-icon.png" alt="" />Fourth Training Class</a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <section class="tabs-content">
          <article id="tabs-1">
            <img src="/public/images/training-image-01.jpg" alt="First Class" />
            <h3>First Training Class</h3>
            <p>Phasellus convallis mauris sed elementum vulputate. Donec posuere
              leo sed dui eleifend hendrerit. Sed suscipit suscipit erat, sed
              vehicula ligula. Aliquam ut sem fermentum sem tincidunt lacinia
              gravida aliquam nunc. Morbi quis erat imperdiet, molestie nunc ut,
              accumsan diam.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id="tabs-2">
            <img src="/public/images/training-image-02.jpg" alt="Second Training" />
            <h4>Second Training Class</h4>
            <p>Integer dapibus, est vel dapibus mattis, sem mauris luctus leo,
              ac pulvinar quam tortor a velit. Praesent ultrices erat ante, in
              ultricies augue ultricies faucibus. Nam tellus nibh, ullamcorper
              at mattis non, rhoncus sed massa. Cras quis pulvinar eros. Orci
              varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id="tabs-3">
            <img src="/public/images/training-image-03.jpg" alt="Third Class" />
            <h4>Third Training Class</h4>
            <p>Fusce laoreet malesuada rhoncus. Donec ultricies diam tortor, id
              auctor neque posuere sit amet. Aliquam pharetra, augue vel cursus
              porta, nisi tortor vulputate sapien, id scelerisque felis magna id
              felis. Proin neque metus, pellentesque pharetra semper vel,
              accumsan a neque.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id="tabs-4">
            <img src="/public/images/training-image-04.jpg" alt="Fourth Training" />
            <h4>Fourth Training Class</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Aenean ultrices elementum odio
              ac tempus. Etiam eleifend orci lectus, eget venenatis ipsum
              commodo et.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- ***** Our Classes End ***** -->

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="trainers">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Expert <em>Trainers</em></h2>
          <img src="/public/images/line-dec.png" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor ac lacus eget fermentum. Mauris
            aliquet laoreet scelerisque. Nunc ornare congue lectus. Ut rhoncus tincidunt ultricies. Mauris dui est,
            facilisis non maximus a, ultricies id arcu. In ac vehicula tortor, quis malesuada justo. Nulla facilisi.
            Vestibulum auctor est consequat nisl dignissim, at facilisis felis fringilla.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="/public/images/first-trainer.jpg" alt="" />
          </div>
          <div class="down-content">
            <span>Strength Trainer</span>
            <h3>Bret D. Bowers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor ac lacus eget fermentum. Mauris
              aliquet laoreet scelerisque. Nunc ornare congue lectus. Ut rhoncus tincidunt ultricies. Mauris dui est,
              facilisis non maximus a, ultricies id arcu. In ac vehicula tortor, quis malesuada justo. Nulla facilisi.
              Vestibulum auctor est consequat nisl dignissim, at facilisis felis fringilla.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="/public/images/second-trainer.jpg" alt="" />
          </div>
          <div class="down-content">
            <span>Muscle Trainer</span>
            <h3>Hector T. Daigl</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor ac lacus eget fermentum. Mauris
              aliquet laoreet scelerisque. Nunc ornare congue lectus. Ut rhoncus tincidunt ultricies. Mauris dui est,
              facilisis non maximus a, ultricies id arcu. In ac vehicula tortor, quis malesuada justo. Nulla facilisi.
              Vestibulum auctor est consequat nisl dignissim, at facilisis felis fringilla..</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="/public/images/third-trainer.jpg" alt="" />
          </div>
          <div class="down-content">
            <span>Power Trainer</span>
            <h3>Paul D. Newman</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor ac lacus eget fermentum. Mauris
              aliquet laoreet scelerisque. Nunc ornare congue lectus. Ut rhoncus tincidunt ultricies. Mauris dui est,
              facilisis non maximus a, ultricies id arcu. In ac vehicula tortor, quis malesuada justo. Nulla facilisi.
              Vestibulum auctor est consequat nisl dignissim, at facilisis felis fringilla..</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Testimonials Ends ***** -->





<!-- ******* Filter Code start ********* -->
{{!-- <div class="container text-center">

  <div class="row">

    <div class="col-sm-12 col-md-3 col-xl-3">
      <input class="form-check-input" type="radio" name="filter_by_price" id="price_low_to_high"
        value="price_low_to_high">
      <label class="form-check-label" for="price_low_to_high">
        Price, Low to High
      </label>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3">
      <input class=" form-check-input" type="radio" name="filter_by_price" id="price_high_to_low"
        value="price_high_to_low">
      <label class="form-check-label" for="price_high_to_low">
        Price, High to Low
      </label>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3">
      <input class="form-check-input" type="radio" name="filter_by_price" id="date_low_to_high"
        value="date_low_to_high">
      <label class="form-check-label" for="date_low_to_high">
        Date, Old to New
      </label>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3">
      <input class=" form-check-input" type="radio" name="filter_by_price" id="date_high_to_low"
        value="date_high_to_low">
      <label class="form-check-label" for="date_high_to_low">
        Date, New to Old
      </label>
    </div>



  </div>
</div> --}}
<!-- ******* Filter Code Ends ********* -->


<!-- ******* Products Ends ********* -->

<!--- ********************* BLOG code End ********************************* --->

<!-- ***** Footer Start ***** -->