<section class="vh-100 bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-3 mt-md-2 pb-3">
                <form id="loginForm" name="loginForm" action="/login" method="post">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and
                    password!</p>
                  {{#if hasErrors}}
                  <div class="error"> {{error}}</div>
                  {{/if}}
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                  </div>

                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="forgotPassword">Forgot password?</a></p>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </form>
              </div>

              <div>
                <p class="mb-0">Don't have an account?
                  <a href="register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>