<h1 class="PF-h1">People Found</h1>
<h2 class="PF-h2">Searched name : {{searchedName}}</h2>
<a class="PF-a" href="/">Make another search</a>
<ul class="PF-ul">
    {{#each peopleResult}}
    <li>
        <a class="li-a" href="/persondetails/{{id}}">{{firstName}}
            {{lastName}}</a>
    </li>
    {{/each}}
</ul>