<form action="/login" method="post" id="login-form">
    <label for="usernameInput"> Username : </label>
    <input type="text" name="usernameInput" id="usernameInput">
    <label for="passwordInput"> Password : </label>
    <input type="password" name="passwordInput" id="passwordInput">
    <button type="submit">Login</button>
</form>
{{#if hasErrors}}
<p>
    {{error}}
</p>
{{/if}}
<a href="/register">Click here to register!</a>