<section class="bg-image mt-5" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h5>It seems that the admins has not posted anly blogs. Please check after some time</h5>
            </div>
        </div>
    </div>
</section>