{% extends 'base.html' %}
{% load static %}{% load humanize %}



{% block title %} - Home {% endblock %}

{% block head %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
    }

    img {
        height: 140px;
    }

    body {
        background: hsl(1, 0, 94%);
    }

    .carousel-wrap {
        width: 1000px;
        margin: auto;
        position: relative;
    }

    .owl-carousel .owl-nav {
        overflow: hidden;
        height: 0px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #2caae1;
    }


    .owl-carousel .item {
        text-align: center;
    }

    .owl-carousel .nav-btn {
        height: 56px;
        position: absolute;
        width: 36px;
        cursor: pointer;
        top: 100px !important;
    }

    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled {
        pointer-events: none;
        opacity: 0.2;
    }

    .owl-carousel .prev-slide {
        background: url(https://img.icons8.com/ios-glyphs/60/ffffff/chevron-left.png) no-repeat scroll 0 0;
        left: -5px;
    }

    .owl-carousel .next-slide {
        background: url(https://img.icons8.com/ios-glyphs/60/ffffff/chevron-right.png) no-repeat scroll -24px 0px;
        right: -5px;
    }

    .owl-carousel .prev-slide:hover {
        background-position: 0px -53px;
    }

    .owl-carousel .next-slide:hover {
        background-position: -24px -53px;
    }

    span.img-text {
        text-decoration: none;
        outline: none;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        cursor: pointer;
        width: 100%;
        font-size: 23px;
        display: block;
        text-transform: capitalize;
    }

    span.img-text:hover {
        color: #2caae1;
    }

    .special-img {
        width: 100%;
        /* height: 500px; */
        height: auto;
    }

    /* .custom-card {
        backdrop-filter: blur(0px) saturate(183%);
        -webkit-backdrop-filter: blur(0px) saturate(183%);
        background-color: rgba(114, 107, 109, 0.63);
        border-radius: 12px;
        border: 1px solid rgba(63, 57, 57, 0.596);
    } */

    .custom-card {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgb(10, 10, 10);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.466);
        border-radius: 15px;
        /* border: 1px solid rgba(255, 255, 255, 0.18); */
        text-align: left;
    }

    .banner-caption {
        top: 0;
        bottom: auto;
        right: 0;
    }

    .banner-content {
        width: 50%;
    }

    .bg {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}


{% block body %}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">


        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">

        {% for item in carousel %}
        <div class="carousel-item" id='carousel_{{forloop.counter}}'>
            <div class="card text-white bg-dark mb-3" style="height: 500px;">

                <div class="bg"
                    style="background-image: url(https://image.tmdb.org/t/p/original{{item.backdrop_path}});">
                    <!-- <div class="container"> -->
                    <div class="row">
                        <!-- <div class="col-6"></div> -->
                        <div class="col-4">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="p-1 banner-content">
                                    <div class="custom-card p-2">

                                        <h3 class="card-title">{{item.title}}</h3>
                                        <p class="card-text fs-6">{{item.overview}}</p>
                                        <span class="badge bg-primary">⭐ {{item.vote_average}}</span>
                                        <span class="badge bg-primary">{{item.release_date}}</span>
                                        {% if item.adult %}
                                        <span class="badge bg-danger">+18</span>
                                        {% endif %}
                                        <span class="badge bg-success">{{item.original_language}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-light mt-0 p-2">
    <h1>Popular Movies</h1>
</div>

<div class="container-fluid my-2">
    <div class="row">
        <div class="col-13 m-auto">
            <div class="owl-carousel owl-theme">
                {% for item in popular_movies %}
                <div class="item">
                    <div class="card" style="width: 12rem;">
                        <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}"
                            class="card-img-top img-thumbnail" height="200" alt="{{item.title}} original image">
                        <div class="carousel-caption d-none d-md-block">
                            <p>
                                <span class="badge bg-primary">⭐ {{item.vote_average}}</span>
                                {% if item.adult %}
                                <span class="badge bg-danger">+18</span>
                                {% endif %}
                                <span class="badge bg-success">{{item.original_language}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="text-light mt-4 pt-4">
    <h1>Popular Movies</h1>
</div>

<div>
    <div class="row">
        {% for item in popular_movies %}
        <div class="col">
            <div class="m-1">
                <div class="card" style="width: 12rem;">
                    <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="card-img-top img-thumbnail"
                        alt="{{item.title}} original image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('carousel_1').className = 'carousel-item active';
    $('.owl-carousel').owlCarousel({
        loop: true,

        margin: 5,
        nav: true,
        dots: false,
        stagePadding: 50,
        nav: true,
        navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
        responsiveClass: true,
        responsive: {
            0: {
                items: 2,
                slideBy: 1
            },
            300: {
                items: 3,
                slideBy: 2
            },
            500: {
                items: 4,
                slideBy: 3
            },
            700:
            {
                items: 5,
                slideBy: 4
            },
            1000: {
                items: 7,
                slideBy: 6
            }
        }
    })
</script>

{% endblock %}