<section class="bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <div class="container mt-5">
        <div class="row mt-5">
            <h2 class="text-primary mt-5 justify-content-center">{{message}}</h2>
        </div>
    </div>
</section>